body {
    margin: 0;
    padding: 0;
    background: black;
}

/* Main */
.container {
    margin: 0 1em;
    height: 100vh;
    background: white;
}

header {
    margin: 0;
    padding: 10px;
    background: white;
}

.logo {
    text-align: center;
}