<!DOCTYPE html>
<html>
    <head>
        <title>{{company_brand}}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main/layout.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main/main.css') }}">
    </head>
    <body>
        <div class="container">
                <header>
                    <section class="logo">{{company_brand}}</section>
                </header>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>